@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  background-color: rgb(255, 255, 255);
}

header {
  display: fixed;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: black;
  box-shadow: 1px 2px 3px 4px rgb(5, 5, 5);
  z-index: 50;
}

#logo {
  position: absolute;
  top: 15px;
  left: 5px;
  font-size: 1em;
  text-transform: uppercase;
}
#logo a {
  color: gold;
  text-decoration: none;
}

#three-point-o {
  position: relative;
  top: -2px;
  left: -2px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

#nav-ul {
  position: absolute;
  display: flex;
  justify-content: end;
  right: 0px;
  top: -20px;
  width: 70%;
  height: 50px;
  line-height: 50px;
  /* background-color: gray; */
}

#nav-ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
}

.link-menu-item {
  text-decoration: none;
  color: white;
  font-size: 1em;
  transition: color 0.2s ease-in 0.2s, font-size 1s ease-in-out;
}

.link-menu-item:hover {
  color: gold;
  font-size: 0.9em;
}
.link-menu-item:active {
  font-size: 0.8em;
  font-weight: bold;
  transition: font-size 0.1s, font-weight 0.1s;
}

@media screen and (max-width: 500px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.548);
    clip-path: circle(25px at calc(100% - 20px) 20px);
    transition: all 0.3s ease-in-out;
  }
  /*the nav body fill the web page */
  #active:checked ~ nav {
    clip-path: circle(75%);
  }
  .menu-btn {
    position: absolute;
    z-index: 2;
    right: 0px;
    /* left: 20px; */
    top: 2px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: black;
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn {
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  /* ajust the position of ul element  */
  #nav-ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
/* always hide check btn */
input[type="checkbox"] {
  display: none;
}

.link-menu-item{
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: color 0.2s ease-in 0.2s,font-size 1s ease-in-out;
}

.link-menu-item:hover{
    color: gold;
    font-size: 0.9em;
    
}
.link-menu-item:active{
    font-size: 0.8em;
    font-weight: bold;
    transition: font-size 0.1s, font-weight 0.1s;

}
/* this part content the display for the feed  */
#fill-blank{
    height: 50px;
    width: 100%;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 0px 0px 0px 0px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(26, 25, 25, 0.507);
}
img{
    width: 100%;
    filter: grayscale(60%);
}
.img-feed{
    width: 38%;
    margin-right:2%;
    margin-top: 5px;
}
.wrapper-content{
    width: 60%;
    padding-right: 10px;
    box-sizing: border-box;
}
.column-top{
    height: 70%;
}
.column-bottom{
    display: flex;
    flex-direction: column-reverse;
    height: 20%;
}
.content-feed h1, .content-feed p{
    color: rgb(255, 255, 255);
    text-align: justify;
    /* border: 1px solid white; */
}
.content-feed h1{
    text-transform: uppercase;
}
.post-date{
    color: rgba(219, 219, 218, 0.452);
    font-style: italic;
    font-size: 10px;
    /* border: 1px solid red; */
    position: relative;
    top: -20px;
}
.tag-feed{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    /* border: 1px solid white; */
}
.tag-feed a{
    color: white;
    /* background-color: rgba(255, 217, 0, 0.651); */
    font-size: 0.5em;
    text-decoration: none;
    /* border: 1px solid rgba(83, 83, 82, 0.651); */
    box-sizing: border-box;
    padding: 3px;
    margin-right: 10px;
    border-radius: 3px;
    transition:color 0.4s ease-in 0.2s,font-size 1s ease-in-out,
    background-color 0.2;

}
.tag-feed i{
    color: black;
    margin-right: 3px;
    border: 1px solid rgba(255, 255, 255, 0.199);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.61);
    padding: 4px;
}

.tag-feed a:hover i{
    color: rgb(255, 255, 255);
    background-color: rgba(36, 36, 35, 0.452);
    border: 1px solid rgba(36, 35, 35, 0.452);
}

.tag-feed a:hover{
    color: gold;
    /* background-color: rgba(255, 255, 255, 0.452);
    border: 1px solid rgba(255, 255, 255, 0.452); */
}
.ico-feed{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    /* border: 1px solid white; */
    padding-bottom: 5px;
    padding-right: 5px;
}

.ico-feed a{
    color: gold;
    font-size: 1em;
    text-decoration: none;
    margin-left: 10px;
    transition: color 0.2s;
    
}
.ico-feed a:hover{
    color: white;
}
.counter{
    font-size: 0.8em;
    
}
/* responsive part for the feed */
@media screen and (max-width: 800px){
    section{
        flex-direction: column;
        width: 70%;
        
    }
    .img-feed{
        width: 100%;
        margin-right:0%;
        margin-top: 0px; 
        /* border: 1px solid white; */
    }
    .column-top,.column-bottom,.wrapper-content{
        width: 100%;
        padding-left: 5px;
        margin-top: 0px;
        /* border: 1px solid white; */
    }
    .content-feed h1, .content-feed p{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .tag-feed{
        margin-top: 5px;
        margin-bottom: 5px;
        /* border: 1px solid red; */
    }
    .post-date{
        top:-5px;
    }
}
#btn-setting{
    position: fixed;
    right: 5px;
    bottom: 20px;
    width: 40px;
    padding: 10px;
    color: white;
    background-color: rgba(65, 65, 64, 0.384);
    border-radius: 50%;
    border-color: transparent;
    box-sizing: border-box;
    border-style: none;
    transition: color 0.2s;
}
#btn-setting:hover{
    color: gold;
}
#btn-setting i{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
